{% load static  %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}">
    <title>Index</title>
</head>
<body>
    <div style="display: block; height: fit-content;" >
        <div class="header">
            <div class="logo_nome_div">
             <img class="logo_min" src="{% static 'media/images/logo.png' %}" alt="">
             <a href="{% url 'clima:index' %}"class="logo_p lucida" >MatWeather</a>
            </div>

            <div class="botoes_header_div">
                <button class="botoes_header_buttons lucida">LOGIN</button>
                <button class="botoes_header_buttons lucida">REGISTRE-SE</button>
            </div>
            
        </div>
         

    </div>  
    <div class="container">

        <div class="imagem_header_div">
           
            <img class="imagem_header_img"src="{% static 'media/images/imagem_dual.png'%}" alt="">

        </div>

        <div class="acontecimentos_div ">
            
            <p class="acontecimentos_p lucida">Quer marcar um passeio,mas não sabe como estará o tempo?</p>

            <div class="acontecimentos_imagem_div">
                <img class="acontecimentos_imagem_img" src="{% static 'media/images/homem_triste.png' %}" alt="">
                <img class="acontecimentos_imagem_img" src="{% static 'media/images/familia_triste.png' %}" alt="">
            </div>

        </div>

         <div class="propaganda_div ">
            
            <p class="propaganda_p lucida">A MatWeather resolve seus problemas!!!</p>

            <div class="propaganda_imagem_div">
                <img class="propaganda_imagem_img" src="{% static 'media/images/homem_triste.png' %}" alt="">
                <img class="propaganda_imagem_img" src="{% static 'media/images/familia_triste.png' %}" alt="">
            </div>

        </div>

        <div class="acontecimentos_div ">
            
            <p class="acontecimentos_p lucida">Planeje-se com antecedência!!!</p>

            <div class="acontecimentos_imagem_div">
                <img class="acontecimentos_imagem_img" src="{% static 'media/images/homem_feliz.png' %}" alt="">
                <img class="acontecimentos_imagem_img" src="{% static 'media/images/familia_feliz.png' %}" alt="">
            </div>

        </div>

        <div class="acontecimentos_div">
            <div class="distribuir_informacoes_finais_div">
                <div class="informacoes_finais_card_div">
                    <p class="informacoes_finais_p lucida">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim sapien in nisl volutpat tempus. Ut fringilla nisi eget fermentum viverra. Suspendisse ornare, mauris in pretium rhoncus, arcu erat auctor massa, in rhoncus dui purus vel orci. Curabitur et scelerisque enim. Donec volutpat, diam ac gravida viverra, sapien turpis accumsan ipsum, nec condimentum nisl diam sed nibh. Maecenas lacinia lectus eget risus luctus, ac dignissim odio egestas. Aenean maximus feugiat ligula, sit amet sodales ligula posuere vel. Quisque porta, massa sed lacinia tristique, ligula sem condimentum diam, ac imperdiet augue massa sed purus. Proin vel ipsum quam. Curabitur non facilisis turpis. Praesent mattis sem ultrices urna dapibus, quis ultricies purus scelerisque. Suspendisse a felis sollicitudin, tempus mi vel, faucibus mauris.

Morbi in justo at neque elementum mollis. Cras neque quam, elementum ac nisi vel, malesuada consequat nulla. Cras lorem metus, commodo at mauris at, pharetra pretium enim. Duis eget purus at lectus pharetra consectetur. Ut porta varius justo. Sed rutrum ultricies purus, quis ultricies magna vestibulum quis. Vivamus id tellus massa. Suspendisse consequat tellus ultrices neque mollis, a hendrerit arcu finibus. Mauris et mauris dui. Mauris tristique lectus in urna lacinia fermentum. Nam venenatis efficitur quam, in ornare ligula tincidunt quis. Integer auctor felis consequat velit porta elementum. In aliquam, elit ut eleifend maximus, dolor felis pretium diam, nec molestie est turpis quis lacus. Integer vitae odio eget augue ullamcorper pharetra. Donec turpis neque, tristique vitae rhoncus vel, feugiat sed tellus.

Vestibulum dictum id risus sit amet tempor. Phasellus in nisl consectetur, iaculis leo eget, venenatis massa. Morbi viverra sed lectus sit amet sagittis. Aenean eget leo a mauris dictum suscipit. Nunc egestas tellus id mauris aliquet, et ullamcorper elit mattis. Nullam quis metus eu velit dignissim finibus at ornare velit. Ut aliquam nisl vel aliquam laoreet. Lorem ipsum dolor.</p>
                </div>

                 <div style="background-color: white;"class="informacoes_finais_card_div">
                    <div style="display:flex;flex-direction:row;align-items: center;">
                         <img class="logo_min" src="{% static 'media/images/logo.png' %}" alt="">
                         <a href="{% url 'clima:index' %}"class="logo_p lucida" style="color:black;" >MatWeather</a>
                    </div>
                    
                        <p class="lucida texto_auxiliar_botoes_p">Faça o login caso já tenha conta</p>
                        <button style="width:100%;"class="botoes_header_buttons lucida">LOGIN</button>
                        <p class="lucida texto_auxiliar_botoes_p">Ou faça o seu registro caso seja a sua primeira vez aqui!!!</p>
                        <button  style="width:100%;" class="botoes_header_buttons lucida">REGISTRE-SE</button>
                    
                </div>  
                



            </div>
             
        </div>













    </div>
    <footer>
        <div class="footer">
            <!-- FAZER FOOTER/CSS FOOTER -->
        </div>

    </footer>
</body>
</html>