{% load static  %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}">
    
    <title>Index</title>
</head>
<body>
    <div style="display: block; height: fit-content;" >
        <div class="header">
            <div class="logo_nome_div">
             <img class="logo_min" src="{% static 'media/images/logo.png' %}" alt="">
             <a href="{% url 'clima:index' %}"class="logo_p lucida" >MatWeather</a>
            </div>

            <div class="botoes_header_div">
                <button class="botoes_header_buttons lucida">LOGIN</button>
                <button class="botoes_header_buttons lucida">REGISTRE-SE</button>
            </div>
            
        </div>
         

    </div>  
    <div class="container">

        <div class="imagem_header_div">
          
                <img style="display: flex;"class="imagem_header_img"src="{% static 'media/images/imagem_dual.png'%}" alt="">
                <p class="lucida imagem_header_p">O clima não muda,<br>as condições atmosféricas, sim!<br>E os seus planos?</p>
           
            
            

        </div>

        <div class="acontecimentos_div ">
           
                <p class="acontecimentos_p lucida">Quer marcar um passeio,mas não sabe como estará o tempo?</p>

             <div class="acontecimentos_imagem_div">
                <img class="acontecimentos_imagem_img" src="{% static 'media/images/homem_triste.png' %}" alt="">
                <img class="acontecimentos_imagem_img" src="{% static 'media/images/familia_triste.png' %}" alt="">
            </div>

       
            

        </div>
      

         <div class="propaganda_div ">
            
            <p class="propaganda_p lucida">A MatWeather resolve seus problemas!!!</p>

            <div class="propaganda_imagem_div">
                <img class="propaganda_imagem_img" src="{% static 'media/images/homem_triste.png' %}" alt="">
                <img class="propaganda_imagem_img" src="{% static 'media/images/familia_triste.png' %}" alt="">
            </div>

        </div>

        <div class="acontecimentos_div ">
            
            <p class="acontecimentos_p lucida">Planeje-se com antecedência!!!</p>

            <div class="acontecimentos_imagem_div">
                <img class="acontecimentos_imagem_img" src="{% static 'media/images/homem_feliz.png' %}" alt="">
                <img class="acontecimentos_imagem_img" src="{% static 'media/images/familia_feliz.png' %}" alt="">
            </div>

        </div>

        <div style="background-color: #ffffff00;"class="acontecimentos_div">

            <div class="distribuir_informacoes_finais_div">

                <div style="display:flex; flex-direction:column;align-items: flex-start;justify-content: start;gap:40px"class="informacoes_finais_card_div">
                    <div style="display:flex;flex-direction: row;align-items: center;gap:10px">

                        <img class="icon_info_img" src="{% static 'media/icons/info_icon.png'%}" alt="">

                        <p class="informacoes_finais_p lucida">
                            Informações adicionais
                         </p>
                         


                    </div>
                   
                    <div style="display: flex;flex-direction: row; align-items: center;gap:10px">

                        <div class="icon_circle_div">

                            <img class="icon_calendar_img" src="{% static 'media/icons/calendario_icon.png'%}" alt="">

                        </div>
                         <p class="informacoes_finais_desc_p lucida">
                            Informações adicionaisaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                         </p>
                        
                    </div>

                    <div style="display: flex;flex-direction: row; align-items: center;gap:10px">

                         <div class="icon_circle_div">

                            <img class="icon_calendar_img" src="{% static 'media/icons/calendario_icon.png'%}" alt="">

                        </div>

                    </div>
                    
                    <div style="display: flex;flex-direction: row;">

                         <div class="icon_circle_div">

                            <img class="icon_calendar_img" src="{% static 'media/icons/calendario_icon.png'%}" alt="">

                        </div>

                    </div>

                    
                </div>


                 <div style="background-color: white;"class="informacoes_finais_card_div">

                    <div style="display:flex;flex-direction:row;align-items: center;">
                         <img class="logo_min" src="{% static 'media/images/logo.png' %}" alt="">
                         <a href="{% url 'clima:index' %}"class="logo_p lucida" style="color:black;" >MatWeather</a>
                    </div>
                    
                        <p class="lucida texto_auxiliar_botoes_p">Faça o login caso já tenha conta</p>
                        <button style="width:100%;"class="botoes_header_buttons lucida">LOGIN</button>
                        <p class="lucida texto_auxiliar_botoes_p">Ou faça o seu registro caso seja a sua primeira vez aqui!!!</p>
                        <button  style="width:100%;" class="botoes_header_buttons lucida">REGISTRE-SE</button>
                    
                 </div>  
                



            </div>
             
        </div>













    </div>
    <footer>
        <div class="footer">
            <!-- FAZER FOOTER/CSS FOOTER -->
        </div>

    </footer>
</body>
</html>