{% load static  %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
    
    <title>Index</title>
</head>
<body class="gradient">
     <div style="display: block; height: fit-content;" >
        <div class="header">
            <div class="logo_nome_div">
             <img class="logo_min" src="{% static 'media/images/logo.png' %}" alt="">
             <a href="{% url 'clima:index' %}"class="logo_p lucida" >MatWeather</a>
            </div>

            <div class="botoes_header_div">
                <a href="{% url 'clima:login'%}"> <button class="botoes_header_buttons lucida">LOGIN</button></a>
              
               <a href=""><button class="botoes_header_buttons lucida">REGISTRE-SE</button></a> 
            </div>
            
        </div>
         

    </div> 

    <div class="container">

        <div>

            <form class="form_login_form" action="{% url 'clima:login_enter'%}" method="POST">
                 {% csrf_token %}
                <div class="info_login_div">
                    <p class="lucida header_form_p ">LOGIN</p>
                    <p>E-mail</p>
                    <input type="email" name="e-mail" id="e-mail">
                    <p>Senha</p>
                    <input type="password" name="senha" id="senha">
                    <input type="submit" value="Enviar">


                </div>
                


            </form>
        </div>


    </div>
</body>


<footer>
        <div class="footer">
             <div class="logo_nome_div">
                <img class="logo_min" src="{% static 'media/images/logo.png' %}" alt="">
                 <p class="logo_footer_p lucida" >MatWeather</p>
            </div>
            <a class= "footer_credit_a lucida" target= "_blank"  href="https://github.com/Gmt-santos/Gmt-santos">Projeto educacional realizado por Gmt-santos</a>
            <p class ="footer_credit_p lucida">--Todos os direitos reservados 2026--</p>
            <div style="display:flex;flex-direction: row;gap: 10px;">
                <a  class ="footer_credit_a lucida" target= "_blank" href="https://www.linkedin.com/in/guilherme-matias-tronco-3164043a9">Linkedin</a>
                <a  class ="footer_credit_a lucida" target= "_blank" href="https://github.com/Gmt-santos">GitHub</a>
                
                

            </div>
        </div>

</footer>