:root{
    --primary-color-lightblue:#39E6E3;
    --primary-color-green:#00c93c;
    --primary-color-blue:#397BE6;
    --primary-color-background:#77C9D4;
    --secondary-color-rain:#184B66;
    --secondary-color-lightgreen:#39E6A9;
    --secondary-color-lightblue:#87E6E4;
    --secondary-color-yellow:#f2ff00;
    
}

@font-face {
    font-family:Font-logo;
    src: url("../fonts/ArchivoBlack-Regular.ttf");
}
option{
    cursor: pointer;
}
footer{
    bottom:0;
    width:100%;
}
.container{
    display:flex;
    flex-direction: column;
    gap:0px;
    justify-content: space-evenly;
    margin-top:115px;
    width:100%;
    left: 0;
    right: 0;
    padding: 0px;
    align-items: center;
    
}
.gradient{
    /* background-image:url("../media/images/background.png"); */
    background-color:var(--primary-color-blue);
    background: linear-gradient(0deg,rgba(57, 123, 230, 1) 0%, rgba(119, 201, 212, 1) 50%, rgba(57, 123, 230, 1) 100%);
    min-height: 85vh;
    margin: 10px;
}
.lucida{
    font-family: 'Lucida Sans';
}
.botoes_header_div{
    width:fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:30px;
    padding:20px;
}
.botoes_header_buttons{
    height:30px ;
    width:200px;
    border-radius: 20px;
    border-width: 0px;
    background-color:var(--primary-color-blue);
    font-size:15px;
    color:white;
    transition: background-color 1s;
}
.botoes_header_buttons:hover{
    transition: background-color 1s;
    background-color: #70a0ec;
    cursor:pointer;
}
.header{
   /* Faz o header colar no teto da página */
   position:fixed;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    height:80px;
    background-color: var(--primary-color-blue);
    /* border-radius:0px 0px 15px 15px; */
    z-index:100;
}
.logo_min{
    width:50px;
    height:50px;
    margin: 20px;
}
.logo_max{
    width:80px;
    height:80px;
    margin: 20px;
}
.logo_nome_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0em;
}

.logo_p{
    color: white;
    text-decoration: none;
    font-size: 30px;
   font-weight:bold;
   transition: font-size 1s;
   cursor:pointer;
}
.logo_p:hover{
    font-size: 35px;
    transition: font-size 1s;
    cursor:pointer;
}
.logo_p_max{
    color: white;
  
    font-size: 50px;
   font-weight:bold;
  
}
.logo_footer_p{
    color: white;
    
    font-size: 30px;
   font-weight:bold;
   
}
.icon_calendar_img{
    width:50px;
    height:50px;
}
.icon_info_img{
    width:50px;
    height:50px;
}
.icon_circle_div{
    width:52px;
    height: 52px;
    border-radius: 50px;
    border-width: 2px;
    border-color:var(--primary-color-green);
    border-style:solid;
    padding: 5px;
  
}
.footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--primary-color-blue);
    height: fit-content;
    width:100%;
   bottom: 0;
    
}
.footer_credit_a{
    font-size:15px;
    font-weight:bold;
    color: white;
}
.footer_credit_p{
     font-size:15px;
    font-weight:bold;
    color: white;
}


.icon_user_img{
    height:50px;
    width:50px;
    border-radius: 25px;

}
.hello_user_p{
    color: white;
    font-size: 20px;
}
.header_hello_div{
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 20%;
    gap:10px;
}   
/* Bandeira dos países */
.image_side_input{

    width:40px;
    height:30px;
    border-radius: 5px;
}
.country_select{
    border-radius: 10px;
    width:95%;
    height: auto;
    padding: 5px;
    font-size:12px;
}