:root{
    --primary-color-lightblue:#39E6E3;
    --primary-color-green:#39E66D;
    --primary-color-blue:#397BE6;
    --secondary-color-rain:#184B66;
    --secondary-color-lightgreen:#39E6A9;
    --secondary-color-lightblue:#87E6E4;
    --primary-color-background:#001a27;
}

@font-face {
    font-family:Font-logo;
    src: url("../fonts/ArchivoBlack-Regular.ttf");
}

.lucida{
    font-family: 'Lucida Sans';
}
.header{
   /* Faz o header colar no teto da página */
   position:fixed;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    height:80px;
    background-color: var(--primary-color-blue);
    border-radius:0px 0px 15px 15px;
    z-index:100;
}
.logo_min{
    width:50px;
    height:50px;
    margin: 20px;
}
.logo_max{

}
.logo_nome_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0em;
}

.logo_p{
    color: white;
    text-decoration: none;
    font-size: 30px;
   font-weight:bold;
   transition: font-size 1s;
   cursor:pointer;
}
.logo_p:hover{
    font-size: 35px;
    transition: font-size 1s;
    cursor:pointer;
}
.footer{
    background-color:var(--primary-color-blue);
    height: 100px;
    width:100%;
    margin-top: 50px;
    bottom:0;
}

.icon_calendar_img{
    width:50px;
    height:50px;
}
.icon_info_img{
    width:50px;
    height:50px;
}
.icon_circle_div{
    width:52px;
    height: 52px;
    border-radius: 50px;
    border-width: 1px;
    border-color:var(--primary-color-green);
    border-style:solid;
    padding: 2px;
    background-color:var(--primary-color-green);
}