@import url("./style_all.css");
textarea{
    resize: none;
}
.form_events_form{
    background-color:var(--secondary-color-rain);
    width:350px;
    height:fit-content;
    padding: 20px;
    border-radius:20px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 110px;
    margin-bottom: 20px;
    gap:10px;
}
.title_form_p{
    font-size: 30px;
    color: var(--secondary-color-lightgreen);
    border-bottom-width: 1px;
    border-color: var(--secondary-color-lightgreen);
    border-bottom-style: solid;
    text-align: center;

}
.text_input_p{
    color: var(--secondary-color-lightgreen);
    font-size: 14px;
}

.info_input{
    border-radius: 10px;
    width:95%;
    height: auto;
    padding: 5px;
    font-size:12px;
    
}
.date_input{
    border-radius: 10px;
    
    cursor: pointer;
    font-size:12px;
    padding: 8px;
}
.event_create_icon_img{
    width:50px;
    height:50px;
    
}
.select_input{
   border-radius: 10px;
   padding:8px;
   font-size:12px;
   cursor: pointer;
}
.color_selector_div{
    width:20px;
    height:20px;
}
.org_dual_div{
    display:flex;
    flex-direction:row;
    gap:50px;
    width:800px;
    height: fit-content;
}
.climate_query_div{
    /* Background color depende do tempo*/
    width:350px;
    height:fit-content;
    padding: 20px;
    border-radius:20px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 110px;
    margin-bottom: 110px;
    gap:10px;
}
.forecast_null_div{
   background-color:var(--secondary-color-rain);
    width:350px;
    height:fit-content;
    padding: 20px;
    border-radius:20px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 110px;
    margin-bottom: 110px;
    gap:10px;
}
.forecast_null_h_p{
   width: 100%;
   height: fit-content;
   font-size: 23px;
   color:white;
}
.forecast_null_explanation_p{
   width: 100%;
   height: fit-content;
   font-size: 15px;
   color:white;
}
.climate_query_h_p{
   width: 100%;
   height: fit-content;
   font-size: 23px;
   color:white;
}
.climate_query_descr_p{
   width: 100%;
   height: fit-content;
   font-size: 15px;
   color:white;
}
.icon_circle_events_div{
    width:32px;
    height: 32px;
    border-radius: 30px;
    border-width: 2px;
    border-color:var(--primary-color-green);
    border-style:solid;
    background-color: var(--secondary-color-rain);
    padding: 5px;
}
.icon_info_climate_query_img{
    width:30px;
    height:30px;
}
.numbers_info_p{
    color:white;
    font-size: 12px;
}
.event_title_dashboard_p{
    color:white;
    font-size: 15px;
}
.event_title_dashboard_name_p{
    color:white;
    font-size: 20px;
}
.event_title_dashboard_id_p{
    color:white;
    font-size: 22px;
}
.event_card_div{
    display:flex;
    flex-direction: column;
    background-color: var(--secondary-color-rain);
    justify-content: flex-start; 
    width:350px;
    padding:10px;
    border-radius: 20px;   
    align-items:center;
}
.view_info_div{
    width:100%;
    display: flex;
    gap:10px;
}
.view_info_iconevent_div{
    
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    padding:10px;
}
.view_info_title_p{
    font-size:20px;
    color:white;
}
/* Cores eventos/climas*/
.red-e{
    background-color: darkred;
}
.yellow-e{
    background-color: goldenrod;
}
.green-e{
    background-color: var(--primary-color-green);
}
.gray-e{
    background-color:rgb(151, 151, 151);
}
.blue-e{
    background-color:var(--primary-color-blue);
}
.light_green-c{
    background-color:var(--secondary-color-lightgreen);

}
.rain-c{
    background-color:var(--secondary-color-rain);
}
.blue-c{
    background-color: var(--primary-color-blue);
}

/* Parte do Dashboard*/



.event_div{
    width: 90%;
    height:fit-content;
    padding:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    justify-content: center;
    border-color:var(--secondary-color-lightgreen);
    gap:10px;
}
.event_icon_img{
    width:40px;
    height: 40px;
}
